<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744707501676-l6imp7kuc9n5j7ub4mhal3j3j625obsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744707501676-l6imp7kuc9n5j7ub4mhal3j3j625obsb</string>
	<key>API_KEY</key>
	<string>AIzaSyCZdATab8ljOYoMPBMohnFBdtB50zdZ0GY</string>
	<key>GCM_SENDER_ID</key>
	<string>744707501676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-8b91c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-8b91c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744707501676:ios:4b3f7dd0c7d4c86df03249</string>
</dict>
</plist>